.memberDrop{
    position: absolute;
    top: -2px;
    left: -2px;
    display: flex;
    flex-direction: column;
    width: 105%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: var(--secondary-bg);
    z-index: 2;
    border-radius: 5px;
    height: 200px;
    overflow: hidden;
    overflow-y: auto;
}
.options {
    padding: 16px;
    display: flex;
    gap: 12px;
    align-items: center;
}
.options:hover {
    background-color: var(--opt-hover);
}
.hourDrop, .minDrop{
    position: absolute;
    top: -2px;
    left: -2px;
    display: flex;
    flex-direction: column;
    width: 105%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: var(--secondary-bg);
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
    height: 400px;
    overflow-y: auto;
}