.wrapper {
    display: flex;
    margin-top: 65px;
}

.heroWrapper {
    flex-grow: 1;
    margin-inline-start: auto;
    /* padding-inline: 1rem; */

    height: calc(100vh - 65px);
    overflow-y: scroll;
}

.fallbackWrapper{
    flex: 1;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
}