.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.switchPage {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.anchors {
    flex: 1;
    font-size: 14px;
    color: var(--link-color);
    text-align: center;

    &:hover{
        text-decoration: underline;
    }
    
}

.button {

    text-align: center;
    padding: 1em 1.5em;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 1rem;
    background-color: var(--primary);
    transition: all .15s linear;
    color: black;

    &:hover {
        background-color: var(--brighter-primary);
    }

    &:active {
        scale: .9;
    }

}

