.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.switchPage {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.anchors {
    flex: 1;
    font-size: 14px;
    color: #ccb8fd;
    text-align: center;
}

.button {

    text-align: center;
    padding: 1em 1.5em;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 1rem;
    background-color: #4708e5;
    transition: all .15s linear;

    &:hover {
        background-color: hsl(257, 93%, 56%);
    }

    &:active {
        scale: .9;
    }

}