/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after,
input,
button {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
    padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 5. Improve text rendering */
    -webkit-font-smoothing: subpixel-antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

input,
button,
a {
    all: unset;
    appearance: none;
}

button,
a {
    cursor: pointer;
}


