:root {

    --clr-border: hsl(0, 0%, 70%);
    --clr-bg-hover: hsl(0, 0%, 15%);
    --clr-bg: hsl(0, 29%, 83%);
    --clr-font: hsl(0, 0%, 95%);

}

:root.dark {

    --clr-border: #80868b99;
    --in-border: hsla(207, 5%, 77%, 0.6);
    /* google flights border color */
    --clr-bg-hover: #303134;
    --clr-bg: #202124;
    /* google flights background color */
    --secondary-bg: #303133;
    --primary: #8AB4F8;
    --brighter-primary: #9DC0FA;
    --link-color: #8ab4f8;
    --seconday: #465062;
    --clr-font: #e8eaed;
    --secondaryFont:rgb(32,33,36);
    --opt-hover:#5E5F62;

}

body {
    background-color: var(--clr-bg);
    color: var(--clr-font);
    font-family: Mulish;
}