:root {
    --clr-border: hsl(0, 0%, 30%);
    --clr-bg-hover: hsl(0, 0%, 90%);
    --clr-bg: hsl(0, 0%, 95%);


    --clr-font: hsl(0, 0%, 5%);

    --logoFont: 42px;
}

:root.dark {
    --clr-border: hsl(0, 0%, 70%);
    --clr-bg-hover: hsl(0, 0%, 15%);
    --clr-bg: hsl(0, 0%, 5%);


    --clr-font: hsl(0, 0%, 95%);

    --logoFont: 42px;
}

body {
    background-color: var(--clr-bg);
    color: var(--clr-font);
    font-family: Mulish;
}