#root {
    margin: auto;
    /* ###REMOVE LATER */
    min-height: 100vh;
}

body {
    max-width: 1920px;
    margin: auto;
    background-color: var(--clr-bg);
    color: var(--clr-font);
    font-family:Mulish, Roboto, sans-serif;



}

:root {

    --clr-border: hsl(0, 0%, 70%);
    --clr-bg-hover: hsl(0, 0%, 15%);
    --clr-bg: hsl(0, 0%, 90%);
    --clr-font: hsl(0, 0%, 5%);

}

:root.dark {

    --clr-border: #80868b99;
    --in-border: hsla(207, 5%, 77%, 0.6);
    /* google flights border color */
    --clr-bg-hover: #303134;
    
    --group-hover: hsl(225, 6%, 18%);

    --clr-bg: #202124;
    /* google flights background color */
    --secondary-bg: #303133;
    --primary: #8AB4F8;
    --brighter-primary: #9DC0FA;
    --link-color: #8ab4f8;
    --seconday: #465062;
    --clr-font: #e8eaed;

    --dull-font: hsl(216, 12%, 52%);

    --secondaryFont:rgb(32,33,36);
    --opt-hover:#5E5F62;

    /* auth page color */
    --secondary-bg-darker:hsl(220, 3%, 9%);

    /*homepage sidebar */
    --sidebar-bg:#303133;
    --sidebar-bg-hover:#3C4043;
    --sidebar-anchor-active: #609af6;
    --sidebar-button-hover:hsl(225, 4%, 20%);

    --toast-bg:#303133;

}

