.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.switchPage {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.anchors {
    flex: 1;
    font-size: 14px;
    color: var(--link-color);
    text-align: center;

    &:hover {
        text-decoration: underline;
    }

}

.button {

    text-align: center;
    padding: 1em 1.5em;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 1rem;
    background-color: var(--primary);
    transition: all .15s linear;
    color: black;

    &:hover {
        background-color: var(--brighter-primary);
    }

    &:active {
        scale: .96;
    }

}


/* TextField or FormInput - Same thing */

.inputWrapper {
    font-size: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .2rem;


}

.textFieldWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    background-color: hsl(0, 0%, 10%);
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 8px;
    padding-right: .6rem;
    height: 48px;


}

.errorBorder {
    border-color: red;
}

.placeholder {
    position: absolute;
    color: hsl(0, 0%, 95%);
    left: 1rem;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 12px;
    transition: all .2s ease-in-out;
    pointer-events: none;

}

.textField {
    box-sizing: border-box;
    font-size: 14px;
    color: white;
    padding: 1rem 0 .4rem 1rem;
    width: 100%;

    &:focus-within+.placeholder {
        font-size: 10px;
        top: .6rem;

        /* This is needed to apply styles when focused in but value is empty */
    }


    &:not(:placeholder-shown)+.placeholder {
        font-size: 10px;
        top: .6rem;

        /* This is needef when focused out but value is non-empty  */
    }

    &::placeholder {
        visibility: hidden;
    }
}

.error {
    color: hsl(0, 77%, 49%);
    margin-bottom: .2rem;
    font-size: 12px;
    padding-left: 1rem;
}



.helperWrapper {
    cursor: pointer;
    position: relative;

    &:hover {
        .helper {
            display: flex;
        }
    }
}

.helper {
    list-style-position: inside;
    list-style-type: none;

    position: absolute;
    top: 50%;
    left: 100%;
    translate: 0 -50%;
    flex-direction: column;
    width: max-content;
    padding: .5em 1.5em;
    border-radius: 8px;

    font-size: 14px;
    background-color: hsl(from var(--secondary-bg) h s l / .5);
    backdrop-filter: blur(5px);

    display: none;

}

svg {
    cursor: pointer;
}