.sidebarsWrapper {
    width: 430px;
    background-color: var(--sidebar-v2-bg);
    overflow: hidden;
    flex-shrink: 0;

    /* ##Should be expandable(with max) or compressable( till  a point , otherwise user must click on the hamburger to collapse it ), and discord's max is around current chat max(totalW us chats<=>totalW DC ) */
    /* ##It will a feature in itself which every or atleast most of the pages ( it seems like every for now ) will have as part of the base layout like navbar which would also get rid of the unread notification dot when going to chats cuz sidebars were diff for them*/
    height: calc(100vh - 65px);
    display: flex;


}

.primarySidebar {
    width: 80px;
    flex-shrink: 0;
    padding: .5rem;
    display: grid;
    align-content: space-between;
    border-right: 1px solid var(--sidebar-v2-border);
}


.primarySidebarList {
    display: grid;
    place-content: center;
    align-content: start;

    &:first-child {
        padding-bottom: .5rem;
        border-bottom: 1px solid var(--sidebar-v2-border);
    }



    svg {
        width: 24px;
        height: 24px;
    }

    >* {
        padding: 1em;
        border-radius: 15px;
        position: relative;
        transition: all .15s ease-out;

        &:hover {
            background-color: var(--sidebar-v2-bg-hover);
        }
    }
}

.contextualSidebar {
    flex-grow: 1;
    display: grid;
    grid-template-rows: auto 1fr;

    >* {
        padding: .5rem;
    }

}

.ctxSidebarHeader {
    border-block: 1px solid var(--sidebar-v2-border);

    >h2 {
        font-size: 14px;
        font-weight: 400;
        text-align: center;

        border-radius: 8px;
        width: 80%;

        padding: .5em;
        margin: auto;

        background-color: var(--sidebar-v2-bg-600);
        color: var(--sidebar-v2-font);
        border: .5px solid var(--sidebar-v2-border);
    }

}

.ctxSidebarList {
    overflow: hidden;

    >div {
        height: 100%;
        overflow-y: scroll;
    }
}


.fallbackWrapper {
    flex: 1;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

}