.errorpage{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.can{
    display: flex;
    gap: 36px;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.title{
    font-size: 36px;
    font-weight: 800;
}
.con{
    font-size: 20px;
    color: var(--dull-font);
}
