.success {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 800px;
    margin: auto;
}

.successbx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.imgbx {
    width: 200px;
}

.conbx {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    font-size: 36px;
    font-weight: 800;
}

.con {
    font-size: 18px;
}

.homebtn {
    margin-top: 20px;
    background-color: var(--primary);
    color: var(--secondaryFont);
    border-radius: 5px;
    padding: .5em 1.5em;
    align-self: center;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.homebtn:hover {
    background-color: var(--brighter-primary);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.conbx {
    max-width: 500px;
}

.ntitle {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

.ncon {
    font-size: 18px;
    text-align: center;
}

.nogroup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.nimg {
    flex-shrink: 0;
}

@media (max-width:600px) {

    .nimg>svg {
        width: 150px;
    }

    .conbx {
        max-width: 90%;
    }

    .ntitle {
        font-size: 24px;
    }
    .ncon{
        font-size: 14px;
    }

    .createbtn{

        font-size: 16px;
    }

}
