.inputWrapper {
    font-size: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .2rem;


}

.textFieldWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .3rem;
    background-color:hsl(0,0%,10%);
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 8px;
    padding-right: .6rem;
height: 48px;


}

.errorBorder {
    border-color: red;
}

.placeholder {
    position: absolute;
    color:hsl(0, 0%, 95%);
    left: 1rem;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 12px;
    transition: all .2s ease-in-out;
    pointer-events: none;

}

.textField {
    box-sizing: border-box;
    font-size: 12px;
    color: white;
    padding: 1rem 0 .4rem 1rem;
    width: 100%;

    &:focus-within+.placeholder {
        font-size: 10px;
        top: .6rem;

        /* This is needed to apply styles when focused in but value is empty */
    }


    &:not(:placeholder-shown)+.placeholder {
        font-size: 10px;
        top: .6rem;

        /* This is needef when focused out but value is non-empty  */
    }

    &::placeholder {
        visibility: hidden;
    }
}

.error {
    color: hsl(0, 77%, 49%);
    margin-bottom: .2rem;
    font-size: 10px;
    padding-left: 1rem;
}

.errorLogo {
    flex-shrink: 0;

}

.eye {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(0, 0%, 70%);
    transition: all .15s linear;
    margin-right: .2rem;

    &:hover {
        color: white;
    }
}