.statusbar {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 0;
}
.dot {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: var(--secondaryFont);
  font-weight: 500;
  cursor: pointer;
  flex-shrink: 0;
}

.line {
  height: 4px;
  width: 6rem;
  border-radius: 1rem;
  background-color: var(--primary);
  margin: 0 1rem;
}

.active{
  outline: 4px solid hsl(from var(--primary) h s 35%);
}

.inactive{
  background-color: hsl(from var(--clr-bg) h s 40%);
  color: var(--comment-font);
}

.textInactive{
  color: var(--comment-font);
}