.loadingPage {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-bg);
}
/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    aspect-ratio: 2.5;

    /* your color */
    --c: #8AB4F8;

    /* simple solid dots */
    --_g: no-repeat radial-gradient(circle closest-side, var(--c) 90%, #0000);

    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;

    animation: l3 0.9s infinite linear;
 
    /* ask someone is this the correct way */
    /* Pretty sure not lol!, commenting that fixed issue */
    /* position: absolute;
    top: 50vh;
    left: 48vw; */
    
}

@keyframes l3 {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%;
    }
    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%;
    }
    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%;
    }
    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%;
    }
}