/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after,
input,
button {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
    padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 5. Improve text rendering */
    -webkit-font-smoothing: subpixel-antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

input,
button,
a {
    all: unset;
    appearance: none;
    box-sizing: border-box;
}

button,
a {
    cursor: pointer;
}



input:-webkit-autofill,
input:-webkit-autofill:focus-within,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    caret-color: white;


}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    /* Optional: Removes any default margin */
}


.top-loading-bar {
    /* background: var(--primary) !important; */

}

#root {
    margin: auto;
}

body {
    max-width: 1920px;
    margin: auto;
    background-color: var(--clr-bg);
    color: var(--clr-font);
    font-family: Mulish, Roboto, sans-serif;
}

:root {

    --clr-border: hsl(0, 0%, 70%);
    --clr-bg: hsl(0, 0%, 100%);


    --clr-font: #202124;
    --in-border: hsla(207, 5%, 33%, 0.9);
    --clr-bg-hover: hsl(225, 4%, 92%);
    --group-hover: hsl(225, 6%, 95%);
    --secondary-bg: hsl(220, 3%, 97%);
    --primary: #1A73E7;
    --brighter-primary: #1E66C8;
    --link-color: rgb(97, 129, 181);
    --commentbg: hsl(225, 4%, 93%);
    --dull-font: hsl(216, 12%, 34%);
    --comment-font: hsl(216, 12%, 32%);
    --secondaryFont: hsl(0, 0%, 99%);
    --opt-hover: hsl(225, 2%, 90%);
    --toast-bg: hsl(220, 3%, 95%);
    --toast-color: #202124;
    --commentSP: hsl(216, 12%, 28%);


    --primary-darker: #1A73E7;
    --secondary-bg-darker: hsl(220, 3%, 95%);
    --secondary-bg-darkest: hsl(220, 3%, 90%);
    --clr-non-complementary-font: hsl(216, 3%, 95%);
    --clr-complementary-bg-400: hsl(216, 3%, 15%);
    --clr-non-complementary-bg-800: hsl(0, 0%, 90%);
    --sidebar-bg: hsl(0, 6%, 95%);
    --sidebar-bg-hover: hsl(206, 6%, 75%);
    --sidebar-anchor-active: hsl(214, 81%, 50%);
    --sidebar-button-hover: hsl(225, 4%, 60%);
    --discoverbg: rgba(232, 240, 254, 0.5);

}

:root.dark {

    --clr-border: #80868b99;
    --in-border: hsla(207, 5%, 77%, 0.6);
    /* google flights border color */
    --clr-bg-hover: #303134;

    --group-hover: hsl(225, 6%, 18%);

    --clr-bg: #202124;
    /* google flights background color */
    --secondary-bg: #303133;
    --primary: #8AB4F8;
    --brighter-primary: #9DC0FA;
    --link-color: #8ab4f8;
    --commentbg: hsl(225, 4%, 20%);
    --clr-font: #e8eaed;

    --dull-font: hsl(217, 41%, 78%);
    --comment-font: hsl(216, 12%, 72%);

    --secondaryFont: rgb(32, 33, 36);
    --opt-hover: #5E5F62;

    --toast-bg: #303133;
    --toast-color: hsl(0, 0%, 100%);

    --commentSP: hsl(216, 12%, 92%);

    /* pratham did not fix these colors */
    /* auth page color */
    --primary-darker: #186ef8;
    --secondary-bg-lighter: hsl(220, 3%, 75%);
    --expansion-bg: hsl(220, 3%, 9%);
    --secondary-bg-darker: hsl(220, 3%, 9%);
    --secondary-bg-darkest: hsl(220, 3%, 6%);
    --clr-non-complementary-font: #202124;
    --clr-non-complementary-bg-800: hsl(0, 0%, 10%);
    --clr-complementary-bg-400: hsl(216, 3%, 85%);

    /*homepage sidebar */
    --sidebar-bg: #303133;
    --sidebar-bg-hover: #3C4043;
    --sidebar-anchor-active: #609af6;
    --sidebar-button-hover: hsl(225, 4%, 20%);
    --discoverbg: rgba(138, 180, 248, 0.12);

}

.disabledBtn{
    pointer-events: none;
    opacity: .7;
}