.wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--sidebar-bg);
    box-shadow: 1px 0 16px 2px var(--clr-bg);

    translate: -100% 0;
    transition: translate .2s ease-in;

    /* ###CHANGE LATER */
    height: calc(100vh - 65px);
    width: 400px;

    display: flex;
    flex-direction: column;

    >* {
        flex-shrink: 0;
    }

}

.showSidebar {
    translate: 0;
}

.header {
    align-self: stretch;
    border-bottom: 1px solid var(--clr-border);
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.header>a {
    border: 1px solid var(--clr-border);
    border-radius: 20px;
    padding: .2rem .6rem;

    &:hover {
        background-color: var(--sidebar-anchor-active);
    }
}

.activeTab {
    background-color: var(--sidebar-anchor-active);
}

.list {
    overflow-y: auto;
    max-height: calc(100% - 260px);

    &::-webkit-scrollbar {
        display: none;
    }
}


.listItem {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    padding-right: 0;
    font-size: 14px;





}

.listItem:hover {
    background-color: var(--sidebar-bg-hover);
}

.avatarWrapper {
    --dim: 48px;
    width: var(--dim);
    height: var(--dim);
    border: 1px solid var(--clr-border);
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

}

.detailsWrapper {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.detailsWrapper>p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lastMessage {
    font-size: 12px;
}

.footerList {
    margin-top: auto;
    border-top: 1px solid var(--clr-border);


}

.footerList .listItem {
    padding: .2rem 1rem;

    /* border-top: 1px solid var(--clr-border); */
    .avatarWrapper {
        border: none;
    }
}


.choicesWrapper {
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-shrink: 0;



    button {
        border-radius: 50%;
        padding: .5rem;

        &:hover {
            background-color: var(--sidebar-button-hover);
        }

        &:active {
            scale: .9;
        }
    }

}