.navbar {
    display: flex;
    gap: 16px;
    border-bottom: 1px solid var(--clr-border);
    align-items: center;
    padding: 8px 16px;

    height: 65px;

    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--clr-bg);
}

.hamburger {
    flex-shrink: 0;
    border-radius: 10px;
    cursor: pointer;
    padding: 12px;

    position: relative;
}

.hamburger:focus-within {
    -webkit-tap-highlight-color: transparent;
}

.hamburger:hover {
    background-color: var(--clr-bg-hover);
}

.homeBtn {
    border-radius: 10px;
    padding: .5rem;
    flex-shrink: 0;

    &:hover {
        background-color: var(--clr-bg-hover);
    }
}

.logo {
    /* border: 2px solid red; */
    color: var(--clr-font);
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    flex-shrink: 0;
    padding: .5rem;
}

.themebtn {
    margin-left: auto;
    flex-shrink: 0;
}

.mail {
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    flex-shrink: 0;
}

.mail:hover {
    background-color: var(--clr-bg-hover);
}

.navbtn {
    background-color: var(--primary);
    padding: .5em 1em;
    border-radius: 5px;
    color: var(--secondaryFont);
    font-weight: 500;
    flex-shrink: 0;
}

.banner {
    max-width: 1920px;
    padding-bottom: 44px;
    min-height: 150px;
}

.title {
    text-align: center;
    margin-top: -100px;
    font-size: 48px;
    font-weight: 600;
    position: relative;
    z-index: 1;
}

.searchbox {
    background-color: var(--secondary-bg);
    max-width: 1140px;
    margin: auto;
    padding: 20px 16px;
    border-radius: 4px;
    padding-bottom: 44px;

    display: flex;
    align-items: center;
    gap: 12px;
}

.location,
.mode,
.date,
.month,
.year {
    padding-block: 16px;
    border: 1px solid var(--clr-border);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
    flex-shrink: 0;
    position: relative;

    display: flex;
    flex: 1;
    justify-content: center;

}

.location,
.mode {
    display: flex;
    gap: 4px;
    align-items: center;

    padding-inline: 1rem;
}

.mode {
    gap: 6px;
}

.inhover:hover {
    border: 1px solid var(--in-border);
}

.searchbtn {
    padding: 12px 28px;
    background-color: var(--primary);
    border-radius: 24px;
    color: var(--secondaryFont);
    font-weight: 500;
    flex-shrink: 0;
    margin-top: -20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btnbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbtn:hover {
    background-color: var(--brighter-primary);
}

.navbtn:hover {
    background-color: var(--brighter-primary);
}

.avatarWrapper {
    --dim: 48px;
    border-radius: 50%;
    border: 1px solid var(--primary);
    overflow: hidden;

    width: var(--dim);
    height: var(--dim);

    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;


    >img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}



.locationDrop,
.modeDrop {
    position: absolute;
    top: -2px;
    left: -2px;
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: var(--secondary-bg);
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
}

.dateDrop,
.monthDrop,
.yearDrop {
    position: absolute;
    top: -2px;
    left: -2px;
    display: flex;
    flex-direction: column;
    width: 105%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: var(--secondary-bg);
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
    height: 400px;
    overflow-y: auto;
}

.options {
    padding: 16px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.options:hover {
    background-color: var(--opt-hover);
}

.toast {
    padding: 0 40px;
    background-color: rebeccapurple;
}



.discoverbx {
    display: flex;
    gap: 12px;
    margin: 28px auto;
    padding: 16px;
    max-width: 1140px;
    background-color: var(--discoverbg);
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.can {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
}

.discoverTitle {
    font-size: 18px;
    font-weight: 500;
}

.discoverContent {
    font-size: 16px;
    color: var(--dull-font);
}

.discoverBtn {
    padding: 8px 28px;
    border: 1px solid var(--clr-border);
    border-radius: 48px;
    color: var(--primary);
    background-color: var(--clr-bg);
    font-size: 15px;
    transition: all 0.2s ease;
}

.livebx {
    max-width: 1140px;
    margin: 24px auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.livetitle {
    font-size: 20px;
    font-weight: 600;
}

.livebtn {
    padding: 6px 16px;
    border: 1px solid var(--clr-border);
    border-radius: 24px;
}

.livebtn:hover {
    background-color: var(--discoverbg);
    color: var(--primary);
}

.livebtnbx {
    display: flex;
    gap: 12px;
}

.livegrp {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 8px 0;
}

@media (max-width:1108px) {
    .searchbox {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "from from from mode mode mode"
            "date date month month year year"
        ;
    }

    .livegrp {
        flex-direction: column;
        align-items: stretch;


    }
}




@media (width < 1000px) {
    .searchbox {
        max-width: 900px;
    }



}

@media (max-width:800px) {
    .logo {
        font-size: 1.6rem;
    }



    .navbtn {
        font-size: 14px;
    }


}

@media (max-width:768px) {
    .discoverbx {
        flex-direction: column;
        align-items: stretch;
    }

    .discoverBtn {
        width: 100%;
        text-align: center;
    }

    .banner {
        padding: 0;
        position: relative;
    }

    .searchbox,
    .searchbtn {
        position: relative;
    }

    .title {
        font-size: 32px;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        translate: -50% 0;
        width: 100%;
    }
}

@media (max-width:640px) {

    .createGroupBtn {
        display: none;
    }

    .mail {
        display: none;
    }

}

@media (max-width:480px) {
    .navbar {
        gap: .3rem;
    }



    .title {
        font-size: 28px;
    }

    .searchbox>* {
        font-size: 14px;

        >svg {
            width: 12px;
        }
    }


}

@media (width<375px) {
    .searchbox {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "from from from from from from"
            "mode mode mode mode mode mode"
            "date date month month year year"

        ;
    }
}