.navbar{
    display: flex;
    gap: 16px;
    border-bottom: 1px solid var(--clr-border);
    align-items: center;
    padding: 8px 16px;
}
.hamburger{
    flex-shrink: 0;
    border-radius: 24px;
    cursor: pointer;
    padding: 12px;
}
.hamburger:hover{
    background-color: var(--clr-bg-hover);
}
.logo{
    /* border: 2px solid red; */
    color: var(--clr-font);
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    flex-shrink: 0;
}
.nobox{
    margin-left: auto;
}
.themebtn{
    flex-shrink: 0;
}
.mail{
    border-radius: 30px;
    cursor: pointer;
    padding: 10px;
    flex-shrink: 0;
}
.mail:hover{
    background-color: var(--clr-bg-hover);
}
.navbtn{
    background-color: var(--primary);
    padding: 8px 16px;
    border-radius: 5px;
    color: var(--secondaryFont);
    font-weight: 500;
    flex-shrink: 0;
}
.banner{
    max-width: 1920px;
    padding-bottom: 44px;
}
.title{
    text-align: center;
    margin-top: -100px;
    font-size: 48px;
    font-weight: 600;
    position: relative;
    z-index: 1;
}
.searchbox{
    background-color: var(--secondary-bg);
    max-width: fit-content;
    margin: auto;
    padding: 20px 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    border-radius: 4px;
    padding-bottom: 44px;
}
.location, .mode, .date, .month, .year{
    padding: 16px 60px;
    border: 1px solid var(--clr-border);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
    flex-shrink: 0;
    position: relative;
}
.location, .mode{
    padding: 16px 80px;
    display: flex;
    gap: 4px;
    align-items: center;
}
.mode{
   gap: 6px; 
}
.inhover:hover{
   border: 1px solid var(--in-border); 
}
.searchbtn{
    padding: 12px 28px;
    background-color: var(--primary);
    border-radius: 24px;
    color: var(--secondaryFont);
    font-weight: 500;
    flex-shrink: 0;
    margin-top: -20px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.btnbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbtn:hover{
    background-color: var(--brighter-primary);
}
.navbtn:hover{
    background-color: var(--brighter-primary);
}
.locationDrop, .modeDrop{
    position: absolute;
    top: -2px;
    left: -2px;
    display: flex;
    flex-direction: column;
    width: 400px;
box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: var(--secondary-bg);
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
}
.dateDrop, .monthDrop, .yearDrop{
    position: absolute;
    top: -2px;
    left: -2px;
    display: flex;
    flex-direction: column;
    width: 105%;
box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: var(--secondary-bg);
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
    height: 400px;
    overflow-y: auto;
}
.options{
    padding: 16px;
    display: flex;
    gap: 12px;
    align-items: center;
}
.options:hover{
    background-color: var(--opt-hover);
}