.wrapper {

    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* ###REMOVE LATER */
    min-height: 100vh;

}

.hero {
    border: 1px solid aqua;
    display: flex;
    flex: 1;
}

.heroLeft {
    border: 1px solid yellow;
    flex-basis: 550px;

}

.heroRight {
    flex: 1;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formWrapper {
    border-radius: 8px;
    border: 1px solid hsl(0, 0%, 60%);

    background: #141414;
    background: linear-gradient(135deg, hsl(0, 0%, 8%) 0%, hsl(0, 0%, 3%) 100%);
    flex-basis: 550px;
    min-height: 80vh;
    /* -webkit-box-shadow: -5px -5px 16px 1px #fff; */
    box-shadow: -5px -5px 32px 1px hsl(0, 0%, 15%), 5px 5px 32px 1px hsl(0, 0%, 5%);


    

}