.themeButton {
    --clr-active: var(--nav-neutral-active);
    --clr-hover: var(--nav-neutral-hover);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    flex-shrink: 0;
}

/* LogOut Button */
