.themeButton{
    background-color: var(--clr-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    flex-shrink: 0;
}
.themeButton:hover{
    background-color: var(--clr-bg-hover);
}