.wrapper {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    aspect-ratio: 1;
    border-radius: 8px;
    border: 1px solid var(--clr-border);
    padding: .5rem;
    transition: all .1s linear;
    background-color: var(--clr-bg);


    &:hover {
        background-color: var(--clr-bg-hover);
    }
}

.svg {
    width: 24px;
}

.gitSvg {
    width: 32px;
}