.homeBtn {
    border-radius: 10px;
    padding: .5rem;
    flex-shrink: 0;

    &:hover {
        background-color: var(--clr-bg-hover);
    }
}


.banner {
    max-width: 1920px;
    padding-bottom: 44px;
    min-height: 150px;
}

.bannerTitle {
    text-align: center;
    margin-top: -100px;
    font-size: 48px;
    font-weight: 600;
    position: relative;
    z-index: 1;
}



.discoverbx {
    display: flex;
    gap: 12px;
    margin: 28px auto;
    padding: 16px;
    max-width: 1140px;
    background-color: var(--discoverbg);
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

    >div {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 12px;
    }
}


.discoverTitle {
    font-size: 18px;
    font-weight: 500;
}

.discoverContent {
    font-size: 16px;
    color: var(--dull-font);
}

.discoverBtn {
    padding: 8px 28px;
    border: 1px solid var(--clr-border);
    border-radius: 48px;
    color: var(--primary);
    background-color: var(--clr-bg);
    font-size: 15px;
    transition: all 0.2s ease;
}






@media (max-width:768px) {
    .discoverbx {
        flex-direction: column;
        align-items: stretch;
    }

    .discoverBtn {
        width: 100%;
        text-align: center;
    }

    .banner {
        padding: 0;
        position: relative;
    }


    .bannerTitle {
        font-size: 32px;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        translate: -50% 0;
        width: 100%;
    }
}



@media (max-width:480px) {
    .bannerTitle {
        font-size: 28px;
    }
}