.navbar {
    display: flex;
    gap: 16px;
    border-bottom: 1px solid var(--clr-border);
    align-items: center;
    padding: 8px 16px;

    height: 65px;

    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--clr-bg);
}

.hamburger {
    flex-shrink: 0;
    border-radius: 10px;
    cursor: pointer;
    padding: 12px;

    position: relative;
}

.hamburger:focus-within {
    -webkit-tap-highlight-color: transparent;
}

.hamburger:hover {
    background-color: var(--clr-bg-hover);
}

.homeBtn {
    border-radius: 10px;
    padding: .5rem;
    flex-shrink: 0;

    &:hover {
        background-color: var(--clr-bg-hover);
    }
}

.logo {
    /* border: 2px solid red; */
    color: var(--clr-font);
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    flex-shrink: 0;
    padding: .5rem;
}

.themebtn {
    margin-left: auto;
    flex-shrink: 0;
}

.mail {
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    flex-shrink: 0;
}

.mail:hover {
    background-color: var(--clr-bg-hover);
}

.navbtn {
    background-color: var(--primary);
    padding: .5em 1em;
    border-radius: 5px;
    color: var(--secondaryFont);
    font-weight: 500;
    flex-shrink: 0;
}

.avatarWrapper {
    --dim: 48px;
    border-radius: 50%;
    border: 1px solid var(--clr-border);
    overflow: hidden;

    width: var(--dim);
    height: var(--dim);

    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;


    >img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.plusBtn {
    display: none;
    flex-shrink: 0;
    padding: .5rem;
}


.banner {
    max-width: 1920px;
    padding-bottom: 44px;
    min-height: 150px;
}

.bannerTitle {
    text-align: center;
    margin-top: -100px;
    font-size: 48px;
    font-weight: 600;
    position: relative;
    z-index: 1;
}


.navbtn:hover {
    background-color: var(--brighter-primary);
}


.discoverbx {
    display: flex;
    gap: 12px;
    margin: 28px auto;
    padding: 16px;
    max-width: 1140px;
    background-color: var(--discoverbg);
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

    >div {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 12px;
    }
}


.discoverTitle {
    font-size: 18px;
    font-weight: 500;
}

.discoverContent {
    font-size: 16px;
    color: var(--dull-font);
}

.discoverBtn {
    padding: 8px 28px;
    border: 1px solid var(--clr-border);
    border-radius: 48px;
    color: var(--primary);
    background-color: var(--clr-bg);
    font-size: 15px;
    transition: all 0.2s ease;
}




@media (max-width:800px) {
    .logo {
        font-size: 1.6rem;
    }



    .navbtn {
        font-size: 14px;
    }


}

@media (max-width:768px) {
    .discoverbx {
        flex-direction: column;
        align-items: stretch;
    }

    .discoverBtn {
        width: 100%;
        text-align: center;
    }

    .banner {
        padding: 0;
        position: relative;
    }


    .bannerTitle {
        font-size: 32px;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        translate: -50% 0;
        width: 100%;
    }
}

@media (max-width:640px) {

    .createGroupBtn {
        display: none;
    }

    .plusBtn {
        display: block;
    }

    .mail {
        display: none;
    }

}

@media (max-width:480px) {
    .navbar {
        gap: .2rem;
        padding-inline: .4rem;

        svg {
            width: 20px;
        }
    }


    .logo {
        font-size: 22px;
        padding-inline: 0;
    }



    .bannerTitle {
        font-size: 28px;
    }

}