.wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--sidebar-bg);
    box-shadow: 1px 0 16px 2px var(--clr-bg);
    translate: -100% 0;
    transition: translate .2s ease-in;


    height: calc(100vh - 65px);
    height: calc(100dvh - 65px);

    width: 375px;
    max-width: 100vw;

    display: flex;
    flex-direction: column;

    >* {
        flex-shrink: 0;
    }

}

.showSidebar {
    translate: 0;
}

body:has(.showSidebar) {
    max-height: 100vh;
    max-height: 100dvh;
    overflow-y: hidden;
}

.header {
    align-self: stretch;
    border-bottom: 1px solid var(--clr-border);
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.header>* {
    border: 1px solid var(--clr-border);
    border-radius: 20px;
    padding: .2rem .6rem;

    &:hover {
        background-color: var(--sidebar-anchor-active);
        color: var(--secondaryFont);
    }
}

.activeTab {
    background-color: var(--sidebar-anchor-active);
    color: var(--secondaryFont);
}



@media (max-width:480px) {
    .wrapper {
        width: 100vw;
    }
}