.searchbox {
    background-color: var(--secondary-bg);
    max-width: 1140px;
    margin: auto;
    padding: 20px 16px;
    border-radius: 4px;
    padding-bottom: 44px;

    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 960px;
    border-radius: 14px;
}

.btnbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbtn {
    padding: 12px 28px;
    background-color: var(--primary);
    border-radius: 24px;
    color: var(--secondaryFont);
    font-weight: 500;
    flex-shrink: 0;
    margin-top: -20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.searchbtn:hover {
    background-color: var(--brighter-primary);
}

.loadingLoc {
    flex-shrink: 0;
    flex-grow: 1;
    padding: 16px;
    border: 2px solid var(--clr-border);
    border-radius: 14px;
    cursor: not-allowed;
    display: flex;
    gap: 8px;
}



.locationInput {
    width: 100%;
    font-size: 18px;
}

.locationBox {
    display: flex;
    gap: 8px;
}


.loadingLoc {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 14px 16px;
    border-radius: 10px;
    border: 1px solid var(--clr-border);

    background: var(--secondary-bg);
    transition: all 0.2s ease;
}

.locationcamp {
    flex: 1;

    padding: 14px 16px;
    border-radius: 10px;
    border: 1px solid var(--clr-border);

    background: var(--secondary-bg);
    transition: all 0.2s ease;
    position: relative;

    height: 56px;

}

.dateIn {
    flex: 1;
    padding: 14px 16px;
    border-radius: 10px;
    border: 1px solid var(--clr-border);
    background: var(--secondary-bg);
    transition: all 0.2s ease;
    position: relative;
    height: 56px;
    display: flex;
    align-items: center;
    /* gap: 16px; */
    justify-content: space-between;
    font-size: 18px;
}

.loadingLoc:hover,
.locationcamp:hover,
.dateIn:hover {
    border-color: var(--primary);
    background: rgba(0, 0, 0, 0.02);
}

/* focus state if input inside */
.locationcamp:focus-within {
    border-color: var(--primary);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
}

.suggestion {
    position: absolute;
    left: 0;
    top: 56px;
    background-color: var(--suggestionbox);
    width: 100%;
    border-radius: 14px;
}

ul {
    list-style-type: none;
}

.mainLoc {
    font-weight: 700;
}

.secondaryLoc {
    color: var(--suggestionSecondoryfont);
}

.suggestionTab {
    cursor: pointer;
    padding: 20px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.suggestionIcon {
    flex-shrink: 0;
    background-color: gray;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.suggestionTab:hover {
    background-color: var(--suggestionHover);
    border-radius: 4px;
}




@media (max-width:1108px) {
    /* .searchbox {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "from from from mode mode mode"
            "date date month month year year"
        ;
    } */
}

@media (width < 1000px) {
    .searchbox {
        max-width: 900px;
    }



}

@media(max-width:768px) {

    .searchbox,
    .searchbtn {
        position: relative;
    }
}

@media (max-width:480px) {
    .searchbox>* {
        font-size: 14px;

        >svg {
            width: 12px;
        }
    }

}

@media (width<375px) {
    .searchbox {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "from from from from from from"
            "mode mode mode mode mode mode"
            "date date month month year year"

        ;
    }
}