.wrapper {
    display: flex;
    /* ###LATER add dvh for phone support everywhere */
    height: calc(100vh - 65px);
}

/* svg {
    color: var(--primary);
} */

.sidebarWrapper {
    padding: .5rem 1rem;
    width: 80px;
    border-right: .5px solid var(--clr-border);


    display: flex;
    flex-direction: column;

}

.list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .5rem;
    padding-bottom: .2rem;

    &:not(:last-child) {
        border-bottom: .5px solid var(--clr-border);
    }


}

.listItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    aspect-ratio: 1;
    position: relative;



    &:hover {
        background-color: var(--clr-bg-hover);

        .listItemTooltip {
            display: flex;
        }
    }


    svg {
        stroke-width: 1.4;
    }
}

.listItemTooltip {
    position: absolute;
    left: 110%;
    z-index: 5;

    border-radius: 8px;
    padding: .2rem .6rem;

    font-size: 14px;
    background-color: var(--clr-complementary-bg-400);
    color: var(--clr-non-complementary-font);

    display: none;

    justify-content: center;
    align-items: center;

}

.footerList {
    margin-top: auto;
    padding-top: .2rem;
    border-top: .5px solid var(--clr-border);
}

/* These 2 are perfect */
.sidebarExpansionWrapper {
    background-color: var(--expansion-bg);
    width: 350px;
    display: flex;
    flex-direction: column;
    border-right: .5px solid var(--clr-border);

}



.expansionHeader {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


    h2 {
        font-size: 1.2rem;
        font-weight: 500;
    }

    button {
        padding: .2rem;
    }
}

.expansionList {
    display: flex;
    flex-direction: column;
}

.chatAreaWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.chatAreaHeader {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
    height: 51.4px;
    border-bottom: .5px solid var(--clr-border);

}

.avatarWrapper {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: .5px solid var(--clr-border);
    overflow: hidden;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}


.groupDetails {

    font-size: 12px;

    * {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    h3>a {
        font-size: 1rem;
        font-weight: 600;
    }

    .members {
        display: flex;
        gap: 1ch;

        >span:not(:last-child)::after {
            content: ',';
        }
    }


}

.groupOptions {
    margin-left: auto;
    padding: .3rem;
    flex-shrink: 0;

}

.messages {
    flex: 1;
    overflow-y: auto;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 14px;
    background-color: var(--secondary-bg-darker);
}

.message {
    background-color: var(--clr-bg);
    width: fit-content;
    padding: .4em 1.2em;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: .15rem;

    max-width: 95%;
}

.myMessage {
    background-color: var(--primary-darker);
    align-self: flex-end;
    color: white;


    .messageAuthor {
        display: none;
    }

    .messageSeenState {
        display: flex;

    }
}

.messageAuthor {
    font-weight: 600;
    color: var(--primary);
}

.messageDetails {
    display: flex;
    gap: .4rem;




    >* {
        display: flex;
        align-items: end;
    }


}

.messageText {
    margin-right: .5rem;
    text-align: justify;

}

.messageTime {
    flex-shrink: 0;
    font-size: .8em;
    color: var(--secondary-bg-lighter);
}

.messageSeenState {
    flex-shrink: 0;
    display: none;
}

.inputAreaWrapper {
    margin-top: auto;
    position: relative;
    z-index: 10;
    background-color: hsl(from var(--secondary-bg-darkest) h s l / .8);
    backdrop-filter: blur(5px);
    padding: .5rem;
    max-height: 20%;
    display: flex;
    align-items: center;
}

.inputWrapper {
    border-radius: 50px;
    background-color: var(--clr-bg);
    flex: 1;
    display: flex;
    align-items: center;
    padding: .3rem 1rem;

    input {
        flex: 1;
        font-size: 14px;
    }

    button {
        padding: .2rem;
        border-radius: 50%;

        &:hover {
            background-color: var(--secondary-bg);
        }
    }


    svg {
        color: var(--clr-font);

        &:hover {
            filter: brightness(2);
        }
    }
}

.scrollBtn {
    position: absolute;
    right: 15px;
    bottom: 100%;
    border-radius: 50%;
    border: 1px solid var(--clr-complementary-bg-400);
    width: 35px;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--clr-non-complementary-bg-800);
    transition: all .15s linear;

    pointer-events: none;
    opacity: 0;


    &:hover {
        background-color: hsl(from var(--secondary-bg) h s l);

        .unreadCounter {
            background-color: hsl(from #055a24 h s 28%);
        }
    }

    &:active {
        transition: none;
        scale: .9;
    }


}

.showScrollBtn {
    transition: bottom .05s linear, opacity .05s linear, pointer-events .05s linear;
    bottom: 120%;
    pointer-events: all;
    opacity: 1;
}

.unreadCounter {
    position: absolute;
    top: -25%;
    right: 0;
    z-index: 2;

    border-radius: 50%;
    width: 50%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #055a24;
    transition: all .15s linear;


}