.wrapper {
    display: flex;
    margin-top: 65px;
}

.heroWrapper {
    flex-grow: 1;
    margin-inline-start: auto;
    /* padding-inline: 1rem; */
    container-type: inline-size;

    height: calc(100vh - 65px);
    overflow-y: scroll;
}
