.sidebarsWrapper {
    width: 80px;
    background-color: var(--sidebar-v2-bg);
    overflow: hidden;
    flex-shrink: 0;

    height: calc(100vh - 65px);
    display: flex;

}


.sidebarsWrapper:has(+div>[data-sidebar-type='overlay']) {
    &.visibleCtxSidebar {
        width: 80px;

        .contextualSidebar {
            translate: 0;
            opacity: 1;
            pointer-events: all;
        }
    }



    .contextualSidebar {
        width: 350px;
        position-anchor: --primary-sidebar;
        position: absolute;
        inset: auto;
        left: anchor(right);
        bottom: anchor(bottom);
        top: anchor(top);


        transition-property: translate, opacity;
        transition-duration: .1s;
        transition-behavior: linear;

        z-index: 10;
        translate: -100% 0;
        opacity: 0;
        pointer-events: none;

    }
}


.visibleCtxSidebar {
    width: 430px;
}

.primarySidebar {
    background-color: var(--sidebar-v2-bg);
    width: 80px;
    flex-shrink: 0;
    padding: .5rem;
    display: grid;
    align-content: space-between;
    border-right: 1px solid var(--sidebar-v2-border);

    position: relative;
    anchor-name: --primary-sidebar;
    z-index: 20;
}


.primarySidebarList {
    display: grid;
    place-content: center;
    align-content: start;

    &:first-child {
        padding-bottom: .5rem;
        border-bottom: 1px solid var(--sidebar-v2-border);
    }



    svg {
        width: 24px;
        height: 24px;
    }

    >* {
        --clr-active: var(--sidebar-v2-bg-active);
        --clr-hover: var(--sidebar-v2-bg-hover);
        padding: 1em;
        border-radius: 15px;
        position: relative;
        transition: all .15s ease-out;


        &:active {
            scale: .95;
        }

    }
}

.contextualSidebar {
    all: unset;
    background-color: var(--sidebar-v2-bg);
    flex-grow: 1;
    display: grid;
    grid-template-rows: auto 1fr;

    >* {
        padding: .5rem;
    }

}

.ctxSidebarHeader {
    border-block: 1px solid var(--sidebar-v2-border);

    >h2 {
        font-size: 14px;
        font-weight: 400;
        text-align: center;

        border-radius: 8px;
        width: 90%;

        padding: .5em;
        margin: auto;

        background-color: var(--sidebar-v2-bg-600);
        color: var(--sidebar-v2-font);
        border: .5px solid var(--sidebar-v2-border);
    }

}

.ctxSidebarList {
    overflow: hidden;

    >div {
        height: 100%;
        overflow-y: scroll;
    }
}
