.navbar {
    display: flex;

    border-bottom: 1px solid var(--clr-border);
    align-items: center;
    padding: 8px 16px;

    height: 65px;

    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--clr-bg);
}

.hamburger {
    flex-shrink: 0;
    border-radius: 50%;
    cursor: pointer;
    padding: 12px;

    position: relative;

    &:focus-within {
        -webkit-tap-highlight-color: transparent;
    }

    &:hover {
        background-color: var(--clr-bg-hover);
    }
}

.notification::after {
    content: '';
    --dimension: 28%;
    position: absolute;
    pointer-events: none;
    right: 15%;
    bottom: 20%;
    width: var(--dimension);
    height: var(--dimension);
    border-radius: 50%;
    background-color: var(--primary);
}

.logo {
    color: var(--clr-font);
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    flex-shrink: 0;
    padding: .5rem;
}

.themebtn {
    margin-left: auto;
    flex-shrink: 0;
}

.themebtn~* {
    margin-inline: .5rem;

    &:last-child {
        margin-inline-end: 0;
    }
}

.inbox {
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    flex-shrink: 0;
    position: relative;
}

.inbox:hover {
    background-color: var(--clr-bg-hover);
}

.navbtn {
    background-color: var(--primary);
    padding: .5em 1em;
    border-radius: 5px;
    color: var(--secondaryFont);
    font-weight: 500;
    flex-shrink: 0;
}

.navbtn:hover {
    background-color: var(--brighter-primary);
}


.avatarWrapper {
    --dim: 40px;
    border-radius: 50%;
    border: 1px solid var(--clr-border);
    overflow: hidden;

    width: var(--dim);
    height: var(--dim);

    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;


    >img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.plusBtn {
    display: none;
    flex-shrink: 0;
    padding: .5rem;
}

@media (max-width:800px) {
    .logo {
        font-size: 1.6rem;
    }



    .navbtn {
        font-size: 14px;
    }


}

@media (max-width:640px) {

    .createGroupBtn {
        display: none;
    }

    .plusBtn {
        display: block;
    }

    .inbox {
        display: none;
    }

}

@media (max-width:480px) {
    .navbar {
        padding-inline: .4rem;

        svg {
            width: 20px;
        }
    }


    .logo {
        font-size: 22px;
        padding-inline: 0;
    }
}