name: deploy

on:
    push:
        branches:
            - main

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code (fetch latest code)
              uses: actions/checkout@v4

            - name: Login to GHCR
              run: |
                  echo "${{ secrets.GH_PAT }}" | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

            - name: Build server image
              run: |
                  docker build -t ghcr.io/${GITHUB_REPOSITORY,,}-server:${{ github.sha }} \
                  -f server/Dockerfile.prod server

            - name: Build client image
              run: |
                  docker build -t ghcr.io/${GITHUB_REPOSITORY,,}-client:${{ github.sha }} \
                  -f client/Dockerfile.prod client

            - name: Push server image to ghcr
              run: |
                  docker push ghcr.io/${GITHUB_REPOSITORY,,}-server:${{ github.sha }}

            - name: Push client image to ghcr
              run: |
                  docker push ghcr.io/${GITHUB_REPOSITORY,,}-client:${{ github.sha }}

            - name: Update compose.prod.yaml from latest to current github.sha tag
              run: |
                sed -i "s|latestHashedTag|${{ github.sha }}|g" compose.prod.yaml

            - name: Copy files to ec2
              uses: appleboy/scp-action@v0.1.7
              with:
                host: ${{ secrets.EC2_HOST }}
                username: ubuntu
                key: ${{ secrets.EC2_SSH_KEY }}
                source: "compose.prod.yaml,nginx, deploy.sh"
                target: /opt/myapp

            - name: Run deploy.sh on EC2
              uses: appleboy/ssh-action@v1.0.3
              with:
                host: ${{ secrets.EC2_HOST }}
                username: ubuntu
                key: ${{ secrets.EC2_SSH_KEY }}
                script: |
                  echo ${{ secrets.GH_PAT }} | sudo docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin
                  sudo chmod +x /opt/myapp/deploy.sh
                  sudo /opt/myapp/deploy.sh